# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Sam
.aws-sam
api/.aws-sam

# local config files
.envrc
.env
.nvmrc
.awsenv

dist
build

# IDE
.vscode

# trash
.DS_store
.DS_Store
template.drawio.bak